/* font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



*{
    list-style-type: none;
    text-decoration: none;
    
    
}

.popins{
     font-family: "Poppins", sans-serif;
}

/* custom css */
/* all common css */
.btn{
    background: rgb(224, 44, 109);
    color: white;
    border-radius: 41px;
    border: none;
    width: 196px;
    padding: 10px 24px;
}

/* navbar section */

.body-section{
    max-width: 90%;
    margin: 0 auto;
}
.navbar-section{
   display: flex;
   justify-content:space-between;
   margin: 0 auto;
   max-width: 100%;
    
}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-links a{
    color: black;
}

/* banner */

.banner-content-head h3{
    font-size: 52px;
    font-weight: 700;
    margin: 0px auto;
    margin-top: 50px;
}
.banner-content-head{
    margin-top: 40px;
}
.banner{
    display: flex;
    justify-content: space-around;
    gap: 123px;
    padding: 20px 40px 40px 0px;
    margin: auto;
    
    
}
.banner-img-section{
    background: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 475px;
    padding-right:30px 33px 31px 0px;
    
}


/* group sponsor */
.group-sponsor{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}




/* footer */
footer{
    max-width: 100%;
    margin: 0 auto;
    background: #0c0a29;
}
.footer-container{
    max-width: 265px;
    margin: 20px auto ;
    padding: 30px 0px;
    text-align: center;
    color: white;
}
.icons{
    display: flex;
    justify-content: space-around;
}