/* font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



*{
    list-style-type: none;
    text-decoration: none;
     box-sizing: border-box;
    
    
}

.popins{
     font-family: "Poppins", sans-serif;
}

/* custom css */
/* all common css */
.btn{
    background: rgb(224, 44, 109);
    color: white;
    border-radius: 41px;
    border: none;
    width: 196px;
    padding: 10px 24px;
}

/* navbar section */

.body-section{
    width: 100%;
    margin: 0 auto;
  /* overflow-x: hidden; */
}
.navbar-section{
   display: flex;
   justify-content:space-between;
   margin: 10px auto;
   max-width: 1290px;
    
}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-links a{
    color: black;
}

/* banner */

.banner-content-head h3{
    font-size: 52px;
    font-weight: 700;
    margin: 0px auto;
    margin-top: 50px;
}
.banner-content-head{
    margin-top: 40px;
}
.banner{
    max-width: 1250px;
    display: flex;
    justify-content: space-around;
    gap: 123px;
    padding: 20px 40px 40px 0px;
    margin: auto;
    
    
}
.banner-img-section{
    background: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 475px;
    padding:30px 33px 31px 0px;
    
}


/* group sponsor */
.group-sponsor{
    max-width: 1110px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}



/* card section */
.popular-container{
    max-width: 1047px;
    margin: 0 auto;
    
}
.card-container-title{
     font-size: 28px;
    font-weight: 600;
    margin-bottom: 47px;
    text-align: center;
}
.card i{
    color: rgb(255, 174, 0);
}
.card{
    padding: 13px;
    max-width: 330px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}
.card-title {
  margin: 0;
  padding: 16px 0px 8px 0px;
  font-size: 28px;
  font-weight: 500;
  
}
.card-price{
    margin: 6px 0px;
    font-size: 24px;
    font-weight: 400;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    margin: 0px auto;
    
}


/* feature */
.feature-section{
    max-width: 1110px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.feature-section h3{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0px;
}
.feature-section-content{
    width: 610px;
}
.feature-section-content .btn{
    border-radius: 0;
}


/* footer */
footer{
    max-width: 100%;
    background: #0c0a29;
}
.footer-container{
    max-width: 265px;
    margin: 20px auto ;
    padding: 30px 0px;
    text-align: center;
    color: white;
}
.icons{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 576px) {
    .card-container,
    .footer,
    .feature-section,
    .banner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        max-width: 100%;
        margin: 0px auto ;
    }

    .navbar-section{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .nav-links{
        display: none;
    }
    .nav-links :nth-child(6){
        display: grid;
        
    }
    /* .footer{
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        width: 100%;
    } */
   .feature-section {
        text-align: center;
        padding: 20px;
        place-items: center;
    }

    .feature-section-content {
        order: -1;
        width: 100%;
        padding: 30px 0px;

    }
    .group-sponsor{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        padding: 15px;
    }
    .banner-img-section{
        width: 100%;
        order: -1;
        margin: 0 auto;

    }
    .banner-content-head{
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        width: 100%;
    }
}